* {
    background-color: #DCDCDC;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

/* Clases */
.boton-lindo {
    background-color: green;
    border-radius: 25px;
    text-align: center;
    padding: 1%;
}

/* ID mods */

#title {
    display: grid;
}

#bloque {
    background-color: #A9A9A9;
    border-color: black;
    border-radius: 25px;
    width: 400px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
}
