body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

div label {
    color: white;
    text-align: center;
    margin: 10px;
}

footer {
    background-color: black;
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
}

footer p {
    color: white;
    margin: 20px;
}

h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Clases */
.boton-lindo {
    background-color: green;
    border-radius: 25px;
    text-align: center;
    padding: 1%;
    margin: 10px;
    border-color: green;
    border-width: 0px;
}

.centered-text {
    text-align: center;
}

.cool-input {
    width: 100%;
    padding: 12px 5px;
    margin: 0px;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
    border-radius: 25px;
    height: 20px;
  }

  .credit-card-data {
    grid-area: credit-card-data;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .div-interno {
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    align-items: flex-start;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.margin-button {
    margin: 10px;
}

.processor-image {
    grid-area: processor-image;
  }


.simulador-tarjeta {
    border-radius: 20px;
    background: rgb(28,28,29);
    background: linear-gradient(162deg, rgba(28,28,29,1) 0%, rgba(97,97,101,1) 35%, rgba(193,193,193,1) 88%);
    /* Aca tengo que mandar un display grid */
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    ". ."
    "credit-card-data processor-image";
    width: 350px;
    height: 225px;
    padding: 20px 20px 40px 20px;
}

.simulador-tarjeta p {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px 0px 10px 0px;
}

.tarjeta-blanca {
    border-radius: 25px;
    border: 0px;
    background-color: aquamarine;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}

.white {
    color: white;
}

/* ID mods */
#bloque {
    background-color: #000000;
    border-color: black;
    border-radius: 25px;
    width: 400px;
    height: 400px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
}

#pago-tarjeta {
    background-color: red;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#title {
    display: grid;
}
